
@font-face {
    font-family: 'High1WonchuriTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-2@1.0/high1WonchuriTitleL.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'High1WonchuriTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-2@1.0/high1WonchuriTitleM.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'High1WonchuriTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-2@1.0/high1WonchuriTitleB.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'High1WonchuriTitle';
}
a{
  text-decoration: none;
  font-family: 'High1WonchuriTitle';
}

ul, li, ol{
  list-style: none;
}

