@charset "UTF-8";
/* 리셋 */
@font-face {
  font-family: "High1WonchuriTitle";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-2@1.0/high1WonchuriTitleL.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "High1WonchuriTitle";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-2@1.0/high1WonchuriTitleM.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "High1WonchuriTitle";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-2@1.0/high1WonchuriTitleB.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "High1WonchuriTitle";
}

a {
  text-decoration: none;
  font-family: "High1WonchuriTitle";
}

ul, li, ol {
  list-style: none;
}

/* 변수 */
/* ==========================  
  색상 
==========================  */
/* ==========================  
  타이포그래피
==========================  */
/* ==========================  
  간격
==========================  */
/* ==========================  
  그리드간격
==========================  */
/* ==========================  
  반응형 브레이크포인트
==========================  */
/* 믹스인 */
/* 재사용 가능 스타일 패턴 */
/* 헤터 푸터 */
header {
  background-color: rgb(233, 232, 240);
  border-bottom: 2px solid rgba(182, 182, 224, 0.671);
}
header .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 48px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-size: 20px;
  font-weight: 800;
  color: #2a2a2a;
  transition: all 0.3s;
  cursor: pointer;
}
.logo:hover {
  color: rgb(145, 105, 255);
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 32px;
  justify-content: start;
}
nav ul li a {
  color: #555;
}
nav ul li a:hover {
  color: #2a2a2a;
}

.header-actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
.header-actions .icon-btn {
  width: 40px;
  height: 40px;
  background: #fdfdfd;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid #e0e0e0;
  cursor: pointer;
}

/* 테블릿 */
@media (max-width: 768px) {
  header .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    /* grid-template-columns: auto 1fr; */
    width: 100%;
  }
  .headere-actions {
    justify-content: start;
  }
}
/* 모바일 */
@media (max-width: 400px) {
  header .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .headere-actions {
    justify-content: start;
  }
}
footer {
  background: #2a2a2a;
  color: #fdfdfd;
  padding: 64px 0 24px;
}
footer .footer-content {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 48px;
  border-bottom: 2px solid rgba(182, 182, 224, 0.671);
  padding: 24px;
}
footer .footer-content .footer-section h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .footer-content .footer-section p {
  font-weight: 200;
  font-size: 12px;
  color: #a0a0a0;
}
footer .footer-content .footer-section ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
footer .footer-content .footer-section ul li a {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 300;
}
footer .footer-content .footer-section ul li a:hover {
  color: #fdfdfd;
}
footer .footer-bottom {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom p {
  font-size: 12px;
  color: rgb(233, 232, 240);
  font-weight: 300;
}
footer .footer-bottom .social-link {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}
footer .footer-bottom .social-link a {
  display: block;
  color: #a0a0a0;
}
footer .footer-bottom .social-link a:hover {
  color: blueviolet;
}

/* 테블릿 */
@media (max-width: 768px) {
  footer .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  footer .footer-bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    text-align: center;
  }
  footer .footer-bottom .social-link {
    justify-content: center;
  }
}
.container {
  width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}
.btn {
  border: 2px solid #e0e0e0;
  padding: 12px 20px;
  display: inline-block;
  background: #2a2a2a;
  color: #a0a0a0;
  font-size: 15px;
  transition: all 0.3s;
}
.btn:hover {
  background: rgb(145, 105, 255);
  color: #fdfdfd;
}

.btn.btn-outline {
  background: #fdfdfd;
  color: #2a2a2a;
}
.btn.btn-outline:hover {
  background: rgb(145, 105, 255);
  color: #fdfdfd;
}

section {
  padding: 80px;
  border-bottom: 2px solid rgba(182, 182, 224, 0.671);
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.section-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  align-items: center;
  margin-bottom: 48px;
}

/* visual */
.visual {
  border-bottom: 2px solid rgba(182, 182, 224, 0.671);
}
.visual .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
}
.visual .container .visual-content h2 {
  font-size: 48px;
  line-height: 1.1;
}
.visual .container .visual-content p {
  margin: 32px 0;
  color: #555;
}
.visual .container .visual-image {
  border: 2px solid #e0e0e0;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgb(233, 232, 240);
  aspect-ratio: 4/3; /* 비율을 설정할수 있는 css */
}

/* product */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.products .product-card {
  border: 2px solid #e0e0e0;
  background: #fdfdfd;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0;
  transition: all 0.3s;
}
.products .product-card:hover {
  border-color: rgb(145, 105, 255);
}
.products .product-card .product-image {
  aspect-ratio: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(233, 232, 240);
  padding: 20px;
}
.products .product-card .product-info {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  grid-template-rows: auto auto 1fr;
  align-content: space-between;
}
.products .product-card .product-info .product-category {
  font-size: 11px;
  color: #a0a0a0;
  font-weight: 300;
}
.products .product-card .product-info .product-title {
  font-size: 16px;
}
.products .product-card .product-info .product-price {
  font-size: 14px;
}
.products .product-card .product-info .product-price .product-price-original {
  text-decoration: line-through;
  color: #a0a0a0;
  font-size: 11px;
}

/* product-bage */
.product-badge {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(145, 105, 255);
  color: #fdfdfd;
  padding: 4px;
  font-size: 11px;
  font-weight: 300;
}

/* categories */
.categories-section {
  background: rgb(233, 232, 240);
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.categories .category-card {
  border: 2px solid #e0e0e0;
  background: #fdfdfd;
  transition: all 0.3s;
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  grid-template-rows: repeat(3, auto);
  text-align: center;
  cursor: pointer;
}
.categories .category-card:hover {
  border-color: rgb(145, 105, 255);
}
.categories .category-card .category-icon svg {
  width: 70px;
  height: 70px;
}
.categories .category-card .category-title {
  font-size: 20px;
}
.categories .category-card .category-count {
  font-size: 14px;
  font-weight: 300;
  color: #a0a0a0;
}

/* features */
.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  border: 2px solid #e0e0e0;
}
.feature-grid .feature-item {
  border-right: 2px solid rgba(182, 182, 224, 0.671);
  background: #fdfdfd;
  padding: 32px;
}
/* 반응형 1024px */
@media (max-width: 1024px) {
  /* 헤더영역 */
  header {
    padding: 16px;
  }
  /* visual */
  .visual .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .visual .container .visual-content {
    order: 1;
  }
  .visual .container .visual-image {
    order: 2;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .feature-grid .feature-item {
    border-bottom: 2px solid rgba(182, 182, 224, 0.671);
    padding: 24px;
  }
}
/* 반응형 768px */
@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }
  .products .product-card {
    border: 2px solid #e0e0e0;
    background: #fdfdfd;
    transition: all 0.3s;
    display: inline-block;
  }
  .products .product-card:hover {
    border-color: rgb(145, 105, 255);
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
/* 반응형 400px */
@media (max-width: 400px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  .categories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .feature-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .feature-grid .feature-item {
    border-bottom: 2px solid rgba(182, 182, 224, 0.671);
  }
}